.field {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;

  &-label,
  &-input {
    width: 200px;
  }

  &-input {
    border: 1px solid rgba(0 0 0 / 0.25);
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;

    &:focus {
      outline: 1px solid rgba(0 0 0 / 0.25);
    }
  }
}
