.app {
  background: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  outline: 1px solid rgba(0 0 0 / 0.1);

  &-header {
    border-bottom: 1px solid rgba(0 0 0 / 0.1);
    margin-bottom: 1.5rem;
  }

  &-body {
    margin-bottom: 1.5rem;
  }

  &-footer {
    border-top: 1px solid rgba(0 0 0 / 0.1);
    display: flex;
    padding-top: 1rem;

    span:first-child {
      font-weight: 600;
      min-width: 200px;
    }
  }
}
